
.container {
  display:inline-flex;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 90px;
  width: 800px;
  border: 15px solid rgba(0, 0, 0, 0.596);
  padding: 10px;
  margin: 390px;
  background-color: #e5ff00;
  box-shadow: 30px 30px 20px;
}

.container div {
  background-color: #08719b;
  border-radius: 80px;
  margin: 2px;
  padding: 30px;
  font-size: 50px;
  
}

body{  
background-color:grey
}

div.img {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 10px;
}

h1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2{
  font-size: 26pt;
}

p {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 18pt;
  color: antiquewhite;
}

li{
  font-style: oblique;
  font-size: 20pt;
  color: antiquewhite;
  text-align: center;
}

a:link {
  color: rgb(255, 230, 0);
}

a:visited {
  color: rgb(174, 0, 255);
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}
